body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
}

#msg{
  font-size: 30px;
  color: #3ef33e;
  padding: 20px 0px 0px ;
}

button{
  width: 85px;
  height:25px;
  color: #000000;
  background-color: #3ef33e;
  border: 0px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #96937e;
  margin: 5px;
}